{% extends 'base.html.twig' %}

{% block title %}Se connecter {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_form.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <form method="post">

        <main>
            <section>
                <h2>Se connecter</h2>
                <p>ou <a class="link link-blue" href="{{ path('signup') }}">créer un compte</a></p>

                {% if error %}
                    <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}

                <form>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="ex : louis.durand@domaine.fr" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" placeholder="ex : ••••••••••••" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <input type="submit" class="button button-orange" value="Se connecter">
                    <a href="{{ path('index') }}" class="button button-grey">Retour au site</a>
                </form>
            </section>
        </main>


    </form>
{% endblock %}
