/* ***** Police d'écriture ***** */

@font-face {
    font-family:"Source Sans Pro";
    src: url("../font/SourceSansPro-SemiBold.ttf");
}


/* ***** Variables ***** */

* {
    --dark-grey: #4d4d4d;
    --light-grey: #aeafaf;
    --orange: #f39c12;
}


/* ***** Elements principaux ***** */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: calc(100% - 85px);
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--dark-grey);
    font-size: 20px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 85px;
    padding-bottom: 110px;
    text-align: center;
}


/* ***** Liens ***** */

a.link {
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

a.link-blue {
    color: #298FCA;
}

a.link-blue:hover {
    color: #0C3953;
}

a.link-grey {
    color: #aeafaf;
}

a.link-grey:hover {
    color: var(--dark-grey);
}


/* ***** Boutons ***** */

.button {
    font-family: "Source Sans Pro", sans-serif;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

.button[disabled] {
    color: #8c8c8c;
    background-color: #e2e4e6;
    cursor: default;
}

.button-orange {
    color: #fff;
    background-color: var(--orange);
    box-shadow: 0 3px #ce8613;
}

.button-orange:hover {
    background-color: #eb960f;
}

.button-grey {
    color: var(--dark-grey);
    background-color: #e2e4e6;
    box-shadow: 0 3px #c5cacd;
}

.button-grey:hover {
    background-color: #d8dbde;
}

.button-white {
    color: var(--dark-grey);
    background-color: #fff;
    box-shadow: 0 3px #e1e1e1;
}

.button-white:hover {
    background-color: #f8f8f8;
}

.button-red {
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 3px #bb3f32;
}

.button-red:hover {
    background-color: #da4839;
}


/* ***** Alertes ***** */

.alert {
    display: block;
    border-radius: 10px;
    padding: 10px 15px;
    border: solid 1px;
}

.alert p {
    overflow: inherit;
    text-overflow: inherit;
    height: inherit;
}

.alert-succes {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}