/* ***** Section ***** */

section {
    margin-top: 125px;
    display: inline-block;
    width: 90%;
    min-width: 494px;
    max-width: 800px;
}

.cover {
    display: block;
    padding: 20px;
}


/* ***** Cover orange ***** */

.cover-orange {
    background-color: var(--orange);
    border-radius: 10px 10px 0 0;
}

h2 {
    font-size: 1.75em;
    color: #fff;
    text-align: center;
    line-height: 0;
    padding-top: 85px;
}

.cover-orange a {
    margin: 30px 20px 0 20px;
}

.cover-orange img {
    width: 150px;
    height: 150px;
    background-color: #e2e4e6;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}


/* ***** Cover grise ***** */

.cover-grey {
    background-color: #f8f9f9;
    border-radius: 0 0 10px 10px;
}

h3 {
    font-size: 1.25em;
    margin-bottom: 20px;
}


/* ***** Cover blanche ***** */

.cover-white {
    padding-bottom: 0;
}

.cover-white ul {
    list-style: none;
    text-align: left;
}

.cover-white li {
    width: 32.7%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    vertical-align: top;
}

h4 {
    font-size: 1em;
    margin-bottom: 5px;
}