/* ***** Body ***** */

body {
    min-height: 100%;
}


/* ***** Main ***** */

main {
    margin: 0;
}


/* ***** Section ***** */

section {
    margin: 85px 0 0 20px;
    display: inline-block;
    text-align: left;
}

h2 {
    color: var(--dark-grey);
    font-size: 2em;
    font-weight: bold;
}

p {
    width: 400px;
    color: var(--light-grey);
    font-size: 0.90em;
    margin: 5px 0 25px 0;
}

label, input, textarea, select, button {
    font-size: 1em; 
    display: block;
}

span {
    color: var(--light-grey);
}

input, textarea, select {
    color: var(--dark-grey);
    font-family: "Source Sans Pro", sans-serif;
    width: 400px;
    background-color: #e2e4e6;
    border: solid 1px #aca9a9;
    padding: 10px 15px;  
    border-radius: 10px;
    margin: 10px 0 25px 0;
}

select {
    cursor: pointer;
}

.button {
    margin-right: 20px;
    width: 187px;
}