/* ***** Footer ***** */

footer {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    font-size: 0.75em;
    background-color: #f8f9f9;
    box-shadow: 0 -3px #e9ebeb;
    padding: 20px 40px;
}

footer ul {
    list-style: none;
}

footer li {
    display: inline-block;
    margin-right: 40px;
}