/* ***** Header ***** */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9f9;
    padding: 20px 40px;
    height: 85px;
    box-shadow: 0 3px #e9ebeb;
    z-index: 10;
}

.logo {
    font-size: 2em;
    color: var(--light-grey);
    position: absolute;
    left: 40px;
    text-decoration: none;
    font-weight: bold;
    z-index: 10;
}

.logo sup {
    font-size: 0.35em;
    font-weight: 100;
    color: #fff;
    background-color: #f39c12;
    border-radius: 10px;
    padding: 2px 8px;
    margin-left: 10px;
}

header input {
    font-size: 1em;
    color: var(--dark-grey);
    font-family: "Source Sans Pro", sans-serif;
    background-color: #fff;
    position: absolute;
    left: calc(40px + 225px + 100px);
    width: calc(100% - 575px - (2*100px));
    min-width: 247px;
    padding: 10px 20px;  
    border-radius: 10px;
    border: 1px solid #e2e4e6;
    outline: none;
}

header input[disabled] {
    color: #8c8c8c;
    background-color: #e2e4e6;
    cursor: not-allowed;
    cursor: not-allowed;
}

header div {
    position: absolute;
    right: 40px;
}

header .button  {
    display: inline-block;
}

header .button-grey {
    margin-right: 10px;
}

header .button-orange {
    margin-left: 10px;
}