/* ***** Sections ***** */

section {
    display: inline-block;
    width: 70%;
    min-width: 1100px;
}

h2 {
    font-size: 1.75em;
    color: var(--dark-grey);
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
}

section .button-orange {
    font-size: 0.90em;
    position: relative;
    top: -32px;
    left: 485px;
    padding: 2px 8px;
}

section ul {
    text-align: left;
}

.list h2 {
    color: var(--light-grey);
}

.list h2 span {
    color: var(--dark-grey);
}

section input {
    font-size: 1em;
    color: var(--dark-grey);
    font-family: "Source Sans Pro", sans-serif;
    background-color: #fff;
    width: calc(100% - (19px * 2));
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #e2e4e6;
    outline: none;
    box-shadow: 0 3px #e9ebeb;
}

section input[disabled] {
    color: #8c8c8c;
    background-color: #e2e4e6;
    cursor: not-allowed;
    cursor: not-allowed;
}

.button-orange.none {
    opacity: 0;
    left: -2000px;
}

.button-orange.site {
    left: 447px;
}

.list li {
    text-align: center;
    margin-bottom: 38px;
}

section li {
    font-size: 0.90em;
    min-width: 16.1%;
    display: inline-block;
    text-align: center;
    margin: 0 19px;
}

section li > a {
    color: var(--dark-grey);
    text-decoration: none;
    width: 177px;
    display: inline-block;
    background-color: #e2e4e6;
    box-shadow: 0 3px #c5cacd;
    border-radius: 10px;
    padding: 20px;
    
}

section li > a:hover {
    background-color: #d8dbde;
}

section p {
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

section a > img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}