/* ***** Main ***** */

main {
    padding-bottom: 59px;
}

/* ***** Sections ***** */

.slide {
    display: block;
    text-align: center;
    padding: 30px;
}

.slide-orange {
    color: #fff;
    background-color: var(--orange);
}

.slide-grey {
    background-color: #f8f9f9;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.35em;
    margin-bottom: 30px;
}

p {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 15px;
}