{% extends 'base.html.twig' %}

{% block title %}À propos {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_aPropos.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section class="slide slide-orange">
            <h2>À propos de WindStore</h2>
            <p>Notre petite histoire à nous</p>
        </section>

        <section class="slide slide-grey">
            <h3>Qui sommes-nous ?</h3>
            <p>À l'origine, nous sommes trois anciens étudiants en informatique à avoir eu ce fou projet qu'est WindStore.</p>
            <p>L'aventure a commencé en avril 2018 lorsque nous avons eu l'idée de ce projet. Nous avons commencé par développer un premier site ayant pour but de mettre en avant notre idée et d'obtenir de précieux retour. Depuis, tout est allé très vite. Un an après, nous avons pu développer notre projet, toujours sous forme de site web (et non un logiciel comme nous l'avions imaginé au départ).</p>
        </section>

        <section class="slide">
            <h3>Le projet WindStore</h3>
            <p>Windstore a pour objectif de vous faciliter le téléchargement d'un logiciel Windows quelconque. En effet, avec WindStore, il vous suffit tout simplement d'entrer le nom du logiciel voulu et en un clic, vous avez accès à une fiche d'information complète ainsi qu'un lien de téléchargement de la dernière version du logiciel.</p>
            <p>Nous avons mis un point d'honneur sur l'expérience utilisateur avec une interface sobre et intuitive. Mais nous avons aussi tenu à ce que tous les logiciels présents sur WindStore soient contrôlés manuellement pour éviter tout risque (logiciels comportant des programmes malveillants, virus, etc.).</p>
            <p>Pour finir, WindStore est un site totalement gratuit à l'utilisation pour qu'il soit accessible à un très grand nombre de personnes. Sachez aussi que nous ne collectons aucune de vos données. WindStore existe grâce à la précieuse aide de bénévoles ainsi qu'aux dons.</p>
        </section>
    </main>
{% endblock %}
