{% extends 'base.html.twig' %}

{% block title %}Nous contacter {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_form.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <main>
        <section>
            <h2>Nous contacter</h2>
            <p>Nous vous répondrons dans un délai maximum de 48h après l'envoi de votre message.</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="button button-orange" value="Envoyer">
            <a href="{{ path('index') }}" class="button button-grey">Retour au site</a>
            {{ form_end(form) }}

        </section>
    </main>
{% endblock %}
