{% extends 'base.html.twig' %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_index.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section>
            <h2>Rechercher un logiciel</h2>
            <a href="{{ path('categories') }}" class="button button-orange none">Voir plus</a>
            {{ form_start(form) }}
            {{ form_end(form) }}
        </section>

        <section>
            <h2>Catégories</h2>
            <a href="{{ path('categories') }}" class="button button-orange">Voir plus</a>
            <ul>
                {% for c in categories %}
                <li>
                    <a href="{{ path('listByCat', { 'id': c.id }) }}" title="{{ c.nom }}">
                        {% if c.logoName %}
                            <img src="{{ vich_uploader_asset(c, 'logoFile') }}" alt="Logo {{ c.nom }}">
                        {% else %}
                            <img src="{{ asset('/img/none.png') }}" alt="Aucune illustration">
                        {% endif %}
                        <p>{{ c.nom }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Récemments ajoutés</h2>
            <a href="{{ path('recents') }}" class="button button-orange">Voir plus</a>
            <ul>
                {% for l in logiciels %}
                    <li>
                        <a href="{{ path('software', { 'id': l.id }) }}" title="{{ l.nom }}">
                            {% if l.logoName %}
                                <img src="{{ vich_uploader_asset(l, 'logoFile') }}" alt="Logo {{ l.nom}}">
                            {% else %}
                                <img src="{{ asset('/img/none.png') }}" alt="Aucune illustration">
                            {% endif %}
                            <p>{{ l.nom }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
