{% extends 'base.html.twig' %}

{% block title %}{% if search %}Résultat{% if entity|length > 1 %}(s){% endif %} pour '{{ name }}'{% else %}{{ name }}{% endif %} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_index.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section class="list">
            {% if search %}
                <h2>Résultat{%  if entity|length > 1 %}(s){% endif %} pour '<span>{{ name }}</span>'</h2>
            {% else %}
                <h2><span>{{ name }}</span></h2>
            {% endif %}
            {% if dev %}
                <a href="{{ name.siteWeb }}" class="button button-orange site" target="_blank">Voir le site du développeur</a>
            {% else %}
                <a href="#" class="button button-orange none">#</a>
            {% endif %}

            {% if entity is empty %}
                <p>Aucun résulat pour '{{ name }}'</p>
                <p><a href="{{ path('index') }}" class="link link-blue">Retourner à l'accueil</a></p>
            {% else %}
                <ul>
                    {% for e in entity %}
                        <li>
                            {% if soft %}
                            <a href="{{ path('software', { 'id': e.id }) }}" title="{{ e.nom }}">
                                {% else %}
                                <a href="{{ path('listByCat', { 'id': e.id }) }}" title="{{ e.nom }}">
                                    {% endif %}
                                    {% if e.logoName %}
                                        <img src="{{ vich_uploader_asset(e, 'logoFile') }}" alt="Logo {{ e.nom }}">
                                    {% else %}
                                        <img src="{{ asset('/img/none.png') }}" alt="Aucune illustration">
                                    {% endif %}
                                    <p>{{ e.nom }}</p>
                                </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </main>
{% endblock %}
