{% extends 'base.html.twig' %}

{% block title %}S'inscrire {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_form.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <main>
        <section>
            <h2>Créer un compte</h2>
            <p>ou <a class="link link-blue" href="{{ path('app_login') }}">connectez-vous à votre compte</a></p>

            <p class="alert alert-warning">Actuellement, la création de compte n'est pas ouverte au public.<br>Si vous souhaitez participer à la beta du site, veuillez <a class="link link-blue" href="{{ path('contact') }}">nous contacter</a>.</p>

            <a href="{{ path('index') }}" class="button button-grey">Retour au site</a>
        </section>
    </main>
{% endblock %}
