{% extends 'base.html.twig' %}

{% block title %}{{ logiciel.nom }} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_software.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section>
            <div class="cover cover-orange">
                {% if logiciel.logoName %}
                    <img src="{{ vich_uploader_asset(logiciel, 'logoFile') }}" alt="Logo {{ logiciel.nom }}">
                {% else %}
                    <img src="{{ asset('/img/none.png') }}" alt="Aucune illustration">
                {% endif %}
                <h2>{{ logiciel.nom }}</h2>
                <div>
                    <a class="button button-white" href="{{ logiciel.lienDL32 }}" target="_blank">Télécharger (32 bits)</a>
                    <a class="button button-white" href="{{ logiciel.lienDL64 }}" target="_blank">Télécharger (64 bits)</a>
                </div>
            </div>

            <div class="cover cover-grey">
                <h3>Description</h3>
                <p>{{ logiciel.description }}</p>
            </div>

            <div class="cover cover-white">
                <ul>
                    <li>
                        <h4>Développeur</h4>
                        <p><a class="link link-blue" href="{{ path('listByDev', { 'id': logiciel.developpeur.id }) }}">{{ logiciel.developpeur }}</a></p>
                    </li>
                    <li>
                        <h4>Site Web</h4>
                        {% if logiciel.siteWeb != null %}
                            <p><a class="link link-blue" href="{{ logiciel.siteWeb }}" target="_blank">Voir</a></p>
                        {% else %}
                            <em>Aucun site web</em>
                        {% endif %}
                    </li>
                    <li>
                        <h4>Catégorie</h4>
                        <p><a class="link link-blue" href="{{ path('listByCat', { 'id': logiciel.categorie.id }) }}">{{ logiciel.categorie }}</a></p>
                    </li>
                    <li>
                        <h4>Taille</h4>
                        <p>{{ logiciel.taille }} Mo</p>
                    </li>
                    <li>
                        <h4>Version</h4>
                        <p>{{ logiciel.version }}</p>
                    </li>
                    <li>
                        <h4>Dernière mise à jour</h4>
                        <p>{{ logiciel.updatedAt|date("m/d/Y") }}</p>
                    </li>

                    <li>
                        <h4>Distribution</h4>
                        <p>{{ logiciel.distribution }}</p>
                    </li>
                    <li>
                        <h4>Licence{% if logiciel.licence.count > 1 %}s{% endif %}</h4>
                        {% for l in logiciel.licence %}
                        <p>{{ l }}</p>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
