<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}- WindStore{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/style_base.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/style_footer.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/style_header.css') }}">
    {% endblock %}
</head>
<body>
{% block header %}
    <header>
        <a href="{{ path('index') }}" class="logo" title="Retourner à l'accueil">WindStore<sup>Beta</sup></a>
        <div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('easyadmin') }}" class="button button-grey">Dashboard</a>
                <a href="{{ path('app_logout') }}" class="button button-orange">Déconnexion</a>
            {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_logout') }}" class="button button-orange">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="button button-grey">Connexion</a>
                <a href="{{ path('signup') }}" class="button button-orange">S'inscrire</a>
            {% endif %}
        </div>
    </header>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <footer>
        <ul>
            <li>© 2019 WindStore</li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a class="link link-grey" href="{{ path('easyadmin') }}" target="_blank">Espace d'administration</a></li>
            {% else %}
                <li><a class="link link-grey" href="{{ path('about') }}">À propos</a></li>
                <li><a class="link link-grey" href="{{ path('contact') }}">Nous contacter</a></li>
            {% endif %}
            <li><a class="link link-grey" href="{{ path('api_doc') }}" target="_blank">API</a></li>
        </ul>
    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>