{% extends 'base.html.twig' %}

{% block title %}Une erreur s'est produite : {{ status_text }} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/style_index.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section class="list">
            <h2>Une erreur s'est produite : <span>{{ status_text }}</span></h2>
            <a href="#" class="button button-orange none">#</a>
            <div class="alert alert-danger">
                <p>Le serveur a renvoyé : <b>{{ status_code }}</b> <b>{{ status_text }}</b></p>
                <p>Veuillez nous faire savoir ce que vous faisiez lorsque cette erreur s'est produite en <a href="{{ path('contact') }}" class="link link-blue">nous contactant ici</a>.</p>
                <p>Nous le réparerons dès que possible. Nous sommes désolé pour tout inconvénient causé.</p>
            </div>
        </section>
    </main>
{% endblock %}

